.spotlight-container {
    .spotlight-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .destaques{
        font-size:25px;
    }
}